<h1>Recipes</h1>

<% @recipes_no_of_ingredients_order.each do |recipe| %>
    <div class="recipe">
        <h4 class="recipe-name"><%= recipe.name %></h4>
        <p class="ingredient-count"><%= "No. of Ingredients: #{recipe.ingredients.count}" %></p>
    </div>
<% end %>

<div class="nav-bar botton-nav">
    <%= link_to "Home", '/' %>
</div>